body {
    margin: 0;
    font-family: 'Roboto', serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;     
}

#main-logo {
  font-size:x-large;
  font-weight: bolder;
  color: blue;
  margin-left: 60px;
  margin-top: 30px;
}

#sign-up {
    height: 27px;
    width: 80pxpx;
    margin-right: 60px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bolder; 
    margin-top: 30px;
    border-color: blue;
}

.opening {
  text-align: center;
  margin-top: 150px;
}

.opening button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    height: 25px;
    border-color: blue;
}

.hero {
    background-image: url("/assignment-1/assets/Hero-bg.png");
    padding-bottom: 170px;
    border-radius: 10px;
}

.action-conf {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.action button{
   background-color: blue;
   color: white;
   font-weight: bolder;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   border-color: blue;
}

.action p {
    color: darkgray;
    font-weight: 300;      
}

.conf img {
    border-radius: 15px;
}

.stats {
    text-align: center;
    background-color: #ccdbff;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 17px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 100px;
}

.stats div {
    display: inline-block;
    padding-right: 45px;
}
.stats h3 {
    font-size: x-large;
}

.stats p:first-child{
    font-size: 64px;
    font-weight: bold;
    color: blue;
    margin-top: 10px;
    margin-bottom: 2px;
}

.stats p:nth-child(2) {
    color: grey;
    margin-top: 2px; 
}

.testimonials {
    text-align: center;
    margin-bottom: 100px;
}

.testimonials .heading {
    font-size: 27px;
    font-weight: bold;
}

.testimonials div {
    display: inline-block;
    background-color: #cfdafc;
    border-radius: 14px;
    margin-right: 15px;
    text-align: start;
    padding: 15px 15px 7px 15px;
}

.testimonials .quote-1 {
  font-size: 15px;
  font-weight: bold;
}

.testimonials .quote-2 {
  font-size: 12px;
  font-weight: lighter;  
  margin-bottom: 3px;
}

.testimonials .star-icon{
    display: inline;
    padding-left: 0px;
}

.testimonials .user-info {
    display: flex;
    padding-left: 0;
}

.testimonials span {
    display: block;
    font-size: small;
    color: darkgray;
    
}

.testimonials .user-info img {
    border-radius: 50%;
    margin-top: 4.5px;
    padding-right: 10px;
    
}

.testimonials .user-info p {
   font-size: 14px;
   
}

.user-engage {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.user-engage .heading {
    font-size: 70px;
    font-weight: 50px;
    padding-right: 150px;
}

.form {
display: flex;
align-items: center;    
}

.form label {
    display: block;
}

#submit {
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    background-color: blue;
    border-color: blue;
    color: white;
    font-weight: bold;
    width: 247px;
    height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#name {
    width: 240px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 6px;
}

#email {
    width: 240px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 6px;
}

#message {
    width: 242px;
    height: 100px;
    margin-top: 5px;
    border-radius: 6px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #cfdafc;
    padding-bottom: 55px;
    border-radius: 7px;
}

footer .footer-logo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: blue;
}

footer nav a {
    text-decoration: none;
}

#sign-up:hover{
   background-color: yellow;
   color: darkgreen;
}

.opening button:hover {
    background-color: yellow;
   color: darkgreen;  
}

.action button:hover {
    background-color: yellow;
   color: darkgreen;
}

#submit:hover {
   background-color: yellow;
   color: darkgreen;
}

nav a:hover {
background-color: yellow;
   color: darkgreen;
}