body {
    margin: 0;
    padding: 0;
}

nav {
    justify-content: space-between;
    display: flex;
    margin: 0;
    width: 100%;
    margin-top: 70px;
}

.logo {
    font-weight: 850;
    font-size: xx-large;
    color: mediumblue;
    font-family: monospace;
}

.sign-up {
    color: white;
    font-weight: 700;
    font-size: larger;
    background-color: mediumblue;
    padding: 7px 13px 7px 13px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-top: 270px;  
    margin-bottom: 27px; 
    font-size: 50px;
}

.stay-focused {
    color: white;
    font-weight: 700;
    font-size: larger;
    background-color: mediumblue;
    padding: 7px 13px 7px 13px;
    border-radius: 8px;
}

.banner {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 300px;
}

.action {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 100px 110px 100px 110px;
}


.action h2 {
    margin-bottom: 5px; 
}

.action-text p {
    margin-top: 0;
    color: grey;
    font-size: large;
}

.action img {
    max-width: 400px; 
    border-radius: 20px; 
}

.action button {
    color: white;
    font-weight: 700;
    font-size: larger;
    background-color: mediumblue;
    padding: 7px 13px 7px 13px;
    border-radius: 8px;
}

.hero {
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 70vh;
    padding: 20px 110px 20px 110px; 
}

